@charset "UTF-8";


/* VERSAO TABLET */
@media screen and (min-width:768px) and (max-width:992px) {
    body {
        background-image: linear-gradient(to bottom right, #5f2c82,#5F2C82,#9667B5);
    }
    #login {
        width: 90vw;
    }
    #imagem {
        float: left;
        width: 30%;
        height: 100%;

    }
    #formulario {
        float: right;
        width: 70%;
    }
}
/* VERSAO PC */
@media screen and (min-width:992px) {
    body {
        background-image: linear-gradient(to bottom right, #5f2c82,#5F2C82,#9667B5);
    }
    #login {
        width: 940px;
    }
    #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }
    #formulario {
        float: left;
        width: 50%;
    }
    #formulario > h1 {
        font-size: 2em;
        margin-bottom: 10px;
    }
    #formulario > p {
        padding: 10px;
        font-size: 1em;
    }
}